<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_knjiznica.Properties.Settings.E_KnjiznicaConnectionString" connectionString="Host=dumbo.db.elephantsql.com;Database=gdrjrzbr;Username=gdrjrzbr;Password=G59S6e_eefU7cyubt_c25b6JdFeFlG4u" providerName="Npgsql"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
